.in-node-out {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
}

.edges {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 20em;
  gap: 1em;
}

.edge {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 2px;
  border-radius: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}

.edge > div {
  overflow: hidden;
}

.edge .id {
  padding: 4px 2em;
  text-align: center;
  color: white;
  background-color: black;
  font-size: small;
  font-weight: bold;
}

.edge .labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px;
  gap: 0.5em;
}

.edge .labels .label {
  border: solid 1px;
  border-radius: 8px;
  padding: 0 0.5em;
  font-size: small;
}


.node {
  display: flex;
  flex-direction: column;
  flex: 2;
  min-width: 20em;
  border: solid 2px;
  border-radius: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
}

.node > div {
  overflow: hidden;
}

.node .value.object > div {
  overflow: hidden;
}

.node .id {
  padding: 4px 2em;
  text-align: center;
  color: white;
  background-color: black;
  font-weight: bold;
}

.node .labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4px;
  gap: 0.5em;
}

.node .labels .label {
  border: solid 1px;
  border-radius: 8px;
  padding: 0 0.5em;
}

.node .properties .value.object {
  display: grid;
  grid-template-columns: auto 1fr;
  border-top: solid 1px;
}

.node .value .value.object {
  outline: solid 2px;
  border: 0px;
  margin: 2px;
}

.node .properties {
  font-size: small;
}

.node .properties .key {
  text-align: right;
  border-right: solid 1px;
  padding: 2px 1em;
}

.node .properties .val {
  padding: 2px 1em;
}

.id a {
  color: currentColor;
  cursor: pointer;
}